.footer {
border-style:none;
font-family:Georgia;
font-size:11px;
line-height:normal;
margin:100px auto 30px;
width:98%;
}

.main {
border-style:none;
margin:12px auto;
min-height:700px;
}

.page {
background-color:#fff;
border-style:none;
margin:7px auto;
width:98%;
}

.title {
background-color:Teal;
border-style:none;
margin: 0 auto;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 12px;
}

.topmenu {
border-bottom:1px solid #ADD8E6;
}

body {
background:#b6b7bc;
color:#696969;
font-family:"Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
font-size:.80em;
}
