<?xml version="1.0"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <add name="Default" connectionString="Server=localhost;Port=5433;Database=JalapenoCloud;User Id=jalapeno;Password=jalapeno241187;Protocol=3;Pooling=true;MinPoolSize=1;MaxPoolSize=20;Timeout=20;ConnectionLifeTime=60;CommandTimeout=60;SSL=false;SslMode=Disable;"/>
  </connectionStrings>

  <appSettings>
  </appSettings>

</configuration>
