<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="Default" connectionString="Server=localhost;Port=5433;Database=JalapenoCloud;User Id=jalapeno;Password=jalapeno241187;Protocol=3;Pooling=true;MinPoolSize=1;MaxPoolSize=20;Timeout=20;ConnectionLifeTime=60;CommandTimeout=60;SSL=false;SslMode=Disable;"/>
  </connectionStrings>
  <appSettings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies/>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="tru" namespace="UI.Controls" assembly="UI"/>
        <add tagPrefix="tru" tagName="Spinner" src="~/Controls/Spinner.ascx"/>
        <add tagPrefix="tru" tagName="TimePeriod" src="~/Controls/TimePeriod.ascx"/>
        <add tagPrefix="tru" tagName="UserMessage" src="~/Controls/UserMessage.ascx"/>
      </controls>
    </pages>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/Error.aspx"/>
    <authentication mode="Forms">
      <forms name=".Forms120" protection="All" timeout="30" path="/" slidingExpiration="true" loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" requireSSL="false" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <siteMap defaultProvider="SiteSMP">
      <providers>
        <add name="SiteSMP" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Sitemaps/Site.sitemap"/>
      </providers>
    </siteMap>
    <httpRuntime requestValidationMode="2.0"/>
    <httpHandlers/>
    <httpModules/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>